@font-face {
  font-family: 'Amble Regular';
  src: url('../font/amble/Amble-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amble Bold';
  src: url('../font/amble/Amble-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Amble Regular", sans-serif;
}

a {
  color: white;
}

a:hover {
  color: orange;
}

.sect i {
  color: white;
  font-size: 2em;
}

h1,
h2,
h3,
h4 {
  font-size: 2em;
  font-family: 'big_johnregular', sans-serif;
  text-transform: uppercase;
  margin: 0 0 35px;
}

img {
  width: 100%;
  height: 100%;
}

nav ul {
  width: 200px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  margin: 0;
  padding: 40px 0 0;
  box-sizing: border-box;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  transition: transform .8s;
  z-index: 9;
  transform: translateX(-100%);
}

nav ul.active {
  transform: translateX(0);
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

nav li {
  margin: 10px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav button {
  width: 40px;
  height: 40px;
  border: 0;
  background: #000;
  position: fixed;
  top: 20px;
  left: 20px;
  outline: none;
  z-index: 3;
}

nav button .line {
  width: 100%;
  height: 3px;
  background: white;
  display: block;
  margin: 5px 0;
}

nav .back-drop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

header {
  width: 100%;
  height: 900px;
  background: #d56e4e;
  color: white;
  position: relative;
}

.down_scroll {
  width: 40px;
  height: 40px;
  position: absolute;
  left: calc(50% - 20px);
  bottom: 20px;
}

.bg {
  background: url(../../images/macbook_pro_apple_iphone_laptop_smartphone_office_notebook_108418_1600x1200.jpg);
  background-size: cover;
}

.header-content {
  height: 100vh;
  background: linear-gradient(90deg, rgba(231, 172, 108, 0.4), rgba(201, 123, 120, 0.4));
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

article {
  text-align: center;
  padding: 120px 0;
}

article>p {
  margin: -10px 200px 0;
  font-size: 1.4em;
  color: #5E5E5E;
  font-family: 'amblelight';
  line-height: 1.5em;
}

.title {
  font-size: 1.85em;
}

.separator {
  height: 2px;
  width: 85px;
  margin: 70px auto;
  background-color: #222222;
}

.sect {
  height: 500px;
  box-sizing: border-box;
  background-position: center center;
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sect-bg-1 {
  background-image: linear-gradient(0deg, #2c2722, #6e9fc9), url(../../images/macbook_pro_apple_laptop_headphones_table_98893_1600x1200.jpg);
}

.sect-bg-2 {
  background-image: linear-gradient(0deg, #2c2722, #6e9fc9), url(../../images/laptop_macbook_iphone_apple_journal_glasses_113949_1400x1050.jpg);
}

.sect-bg-3 {
  background-image: linear-gradient(0deg, #2c2722, #6e9fc9), url(../../images/iphone_6_iphone_apple_100633_1280x960.jpg);
}

.sect-bg-4 {
  background-image: linear-gradient(0deg, #2c2722, #6e9fc9), url(../../images/apple_macbook_imac_109739_1280x960.jpg);
}

.sect .btn {
  border-color: white;
  color: white;
  width: 428px;
  padding: 0;
  height: 100px;
  font-size: 2em;
}

.btn {
  width: 325px;
  border: 2px solid black;
  border-radius: 0;
  color: black;
  text-decoration: none;
  font-size: 1.5em;
  padding: 12px 20px;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  background: transparent;
  transition: color, background .4s;
}

.btn:hover {
  background: #000;
  color: #fff;
}

.work-categories {
  margin: 40px 0;
}

.work-categories button {
  border: none;
  background: transparent;
  color: #9B9B9B;
  padding: 6px;
  text-transform: uppercase;
  font-size: 1.2em;
  margin: 0 10px;
}

.work-categories button.active {
  color: #000;
  font-weight: bold;
}

.work-categories button:hover {
  color: rgb(100, 100, 100);
}

.works_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  margin: 72px 0 70px;
}

.work {
  height: 400px;
}

.work>div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.work>div>img {
  width: 100%;
  max-width: 370px;
  height: 100%;
}

#our_clients_page {
  background: #F4F4F4;
}

.clients_grid {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.client {
  width: 100px;
}

.client:hover>img {
  opacity: 1;
  filter: none;
}

.client>img {
  opacity: 0.5;
  filter: gray;
  -webkit-filter: grayscale(100%);
  transition: opacity, filter 0.6s;
}


.team {
  width: 100%;
  display: flex;
  margin: 86px 0 0;
  justify-content: space-between;
}

.member {
  width: 270px;
  height: 360px;
  position: relative;
  overflow: hidden;
}

.member-info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  border: 3px solid black;
  opacity: 0;
  color: white;
  box-sizing: border-box;
  padding: 10px;
  text-transform: uppercase;
  padding: 0 0 30px;
}

.member-info h4 {
  font-size: 1.5rem;
  margin: 10px;
}

.member-info>a {
  display: block;
  text-decoration: none;
  border-radius: 100%;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 15px;
  right: 15px;
  border: 3px solid white;
  text-align: center;
  line-height: 28px;
}

.member-info>a:hover {
  color: orange;
  border-color: orange;
}

.member>img {
  transition: transform .6s;
}

.member:hover .member-info {
  opacity: 1;
}

.member:hover>img {
  transform: scale(1.2);
}

.we-are-hiring {
  border: 2px solid black;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  box-sizing: border-box;
  padding: 57px 30px;
}

.we-are-hiring h2 {
  font-size: 1.5em;
  line-height: 36px;
  margin: 32px 0 0;
}

.we-are-hiring .separator {
  margin: 30px auto 0;
}

.we-are-hiring .btn {
  width: 177px;
  padding: 13px 0px;
  margin: 32px auto 0;
}

#about_page article {
  padding: 120px 0 80px;
}

.carousel {
  width: 100%;
  overflow: hidden;
  margin-top: 75px;
}

.carousel_slides {
  width: 2340px;
  display: flex;
  transition: transform 1s;
}

.slide {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.item {
  width: 30%;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 15px;
}

.item-image {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
}

.item-image img {
  width: unset;
  height: 100%;
}

.item-descrip {
  line-height: 30px;
}

.item-descrip h4 {
  text-transform: capitalize;
  font-size: 1.5em;
  margin: 30px 0;
  font-family: "Amble Regular", sans-serif;
}

.carousel_controls button {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0 5px;
  border-radius: 100%;
  border: none;
  background: rgb(168, 168, 168);
  outline: none;
  transition: transform .5s;
}

.carousel_controls button:hover {
  transform: scale(1.5);
}

.carousel_controls button:active {
  transform: scale(.9);
  transition: transform .2s;
}

.carousel_controls button.active {
  background: black;
}

.our-location {
  display: flex;
  width: 100%;
  min-height: 400px;
}

.our-location a {
  color: #000;
}

.location {
  width: 40%;
  background: #F2F2F2;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.location_icons {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.location_icons i {
  font-size: 1.4em;
}

.location h3,
.location p {
  margin: 0 0 .5em;
}

.form-box {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 60px;
  background: #E4E4E4;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-end;
}

form div {
  width: 100%;
  display: flex;
}

form input {
  background: transparent;
  height: 40px;
  font-style: italic;
  font-weight: bold;
  box-sizing: border-box;
  padding: 6px 10px;
  border: none;
  border-bottom: 3px solid #B3B3B3;
}

.email {
  width: calc(50% - 10px);
  margin-left: 20px;
}

.name {
  width: calc(50% - 10px)
}

.message {
  width: 100%;
}

form button.send {
  border-radius: 0;
  padding: 10px 30px;
  width: auto;
  margin: 0;
}

footer {
  width: 100%;
  height: 300px;
  background: #222222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  .our-location {
    flex-flow: column;
  }

  .location {
    width: 100%;
  }

  .form-box {
    width: 100%;
    min-height: 300px;
    align-items: stretch;
  }

  form {
    height: inherit;
  }
}

@media (max-width: 450px) {
  .form-box {
    padding: 50px 10px 20px;
  }
}

@media (max-width: 1168px) {
  article p {
    margin: 0 20px;
  }

  .btn {
    width: 250px;
    font-size: 1.4em;
  }

  .sect .btn {
    width: 200px;
  }
}