@font-face {
  font-family: 'Amble Regular';
  src: url('../font/amble/Amble-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amble Bold';
  src: url('../font/amble/Amble-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Amble Regular", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2em;
  font-family: "Amble Bold", sans-serif;
  text-transform: uppercase;
}

h1::after,
h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: #000;
  margin: 50px auto;
}

nav ul {
  width: 200px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  margin: 0;
  padding: 40px 0 0;
  box-sizing: border-box;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  transition: transform .8s;
  z-index: 9;
  transform: translateX(-100%);
}

nav ul.active {
  transform: translateX(0);
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

nav li {
  margin: 10px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav button {
  width: 40px;
  height: 40px;
  border: 0;
  background: #000;
  position: fixed;
  top: 20px;
  left: 20px;
  outline: none;
}

nav button .line {
  width: 100%;
  height: 3px;
  background: white;
  display: block;
  margin: 5px 0;
}

nav .back-drop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

header {
  width: 100%;
  height: 100vh;
  background: #d56e4e;
  color: white;
}

.bg {
  background: url(../../images/macbook_pro_apple_iphone_laptop_smartphone_office_notebook_108418_1600x1200.jpg);
  background-size: cover;
}

.header-content {
  height: 100vh;
  background: linear-gradient(90deg, rgba(231, 172, 108, 0.4), rgba(201, 123, 120, 0.4));
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

article {
  max-width: 500px;
  text-align: center;
}

section {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.sect {
  height: 300px;
  box-sizing: border-box;
  background-position: center center;
}

.sect-bg-1 {
  background-image: url(../../images/macbook_pro_apple_laptop_headphones_table_98893_1600x1200.jpg);
}

.sect-bg-2 {
  background-image: url(../../images/laptop_macbook_iphone_apple_journal_glasses_113949_1400x1050.jpg);
}

.sect-bg-3 {
  background-image: url(../../images/iphone_6_iphone_apple_100633_1280x960.jpg);
}

.sect-bg-4 {
  background-image: url(../../images/apple_macbook_imac_109739_1280x960.jpg);
}

.btn {
  background: transparent;
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  outline: none;
}

.btn:hover {
  background: #fff;
  color: #000;
}

.work-categories {
  margin: 40px 0;
  font-weight: lighter;
  text-transform: uppercase;
}

.work-categories button {
  border: none;
  background: transparent;
  color: #9B9B9B;
}

.work-categories button.active {
  color: #000;
  font-weight: bold;
}

.work-categories button:hover {
  color: rgb(100, 100, 100);
}

.works_grid {
  min-width: 320px;
  width: 55%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 1em;
}

img {
  width: 100%;
  height: 100%;
}

button.btn_show_work {
  margin: 40px 0 0;
  border-color: black;
  color: #000;
}

button.btn_show_work:hover {
  background: #000;
  color: white;
}

#our_clients_page {
  background: #F4F4F4;
}

.clients_grid {
  width: 80%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.client {
  width: 100px;
  opacity: .5;
}

.client:hover {
  opacity: 1;
}